<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/static/style.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="icon" href="/static/favicon.ico">
    <title>Home</title>
</head>
<body>
    <div class="container">

    <h1>Manasa Carrer</h1>      
    <img src="/static/image.png" alt="Big Logo" class="logo">
    <hr>
    <div class="about">
        <h2>About Manasa</h2>
        <p>It is a major town in Neemuch district of Madhya Pradesh. Manasa is a seat of the legislative assembly. 
            It is tehsil headquarters. The town is well connected by road from Mandsaur, 
            Neemuch and also to Kota via Bhanpura. It was under the princely state of Holker before independence.</p>
    </div>
    <hr>
    <h2>Job Opening</h2>
    
    </div>
    
    <button>Contact Us</button>
</body>
</html>